* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Satoshi Medium, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}
.container {
    width: 1360px;
    padding: 0px 40px 0px 40px;
    margin: 0px 80.4px 0px 80.4px;
}
.split {
    grid-column-gap: 16px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.background-image {
    background-image: url("./images/648ca4d2dc815f33b0e41653_image\ 1.jpg");
    color: #fff;
    background-position: 50%;
    background-size: cover;
    width: 1521px;
    height: 836.8px;
}

.navbar {
    width: 1520.8px;
    height: 121.6px;
    padding: 32px 0px 32px 0px;
    background-color: rgba(0, 0, 0, 0);
}

.navbar-content {
    padding: 0px 30px 0px 30px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

.navbar__brand {
    width: 440.65px;
    height: 57.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__brand--img {
    background-image: url("./images/648ca5170abb16d2cbafcf43_Obanai.svg");
    width: 179px;
    height: 41px;
}
.brand-separator {
    width: 1px;
    height: 32px;
    background-color: rgba(255, 255, 255, .08);
}
.navbar__brand a {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 40px;
    padding: 4px 12px;
    text-decoration: none;
}
.navbar__manu {
    width: 455px;
    height: 45.6px;
}
.nav-link {
    color: #fff;
    padding: 10px 16px 10px 16px;
    text-decoration: none;
    transition: color .2s;
    display: inline-block;
}
.navbar-purchase button{
    color: black;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px 62px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.navbar-purchase img {
    padding-left: 10px;
}
.hero-section {
    width: 1520.8PX;
    height: 715.2px;
    padding: 160px 0px 160px 0px;
}
.hero-section img {
    width: 320px;
    height: 490px;
    position: absolute;
    top: 344.2px;
    left: 1200.8px;
}
.hero-section p {
    width: 1280px;
    height: 25.6px;
    margin-bottom: 24px;
    color: #eaff62;
    font-size: 24px;
}
.hero-section h1 {
    height: 240px;
    width: 1280px;
    margin-bottom: 32px;
    font-size: 80px;
    font-weight: 500;
    line-height: 100%;
}
.button {
    display: inline-block;
    padding: 24px 50px;
    background-color: #eaff62;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 50px;
  }
  /*section-black*/
  .section-black {
    width: 1520.8px;
    height: 864px;
    padding: 160px 0px 160px 0px;
    color: #fff;
    background-color: #000000;
  }
  .section-black__box1 p {
    color: rgba(255, 255, 255, .7);
    font-size: 24px;
    margin-bottom: 24px;
  }
  .section-black__box1 h3 {
    width: 480px;
    height: 192px;
    margin: 300px 0px 24px 0px;
    font-size: 40px;
    font-weight: 500px;
    line-height: 120%;
  }
  .section-black__box2 {
    background-image: url("./images/6490462003db594661d649e0_image\ 5.jpg");
    width: 632px;
    height: 544px;
    background-position: 50%;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .play-button {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .section {
    width: 1520.8px;
    height: 642.8px;
    padding: 160px 0px 160px 0px;
  }
  .section__box1 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    display: flex;
  }
  .box1__yellow-circle {
    width: 80px;
    height: 80px;
    background-color: #eaff62;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .section__box2 {
    width: 555px;
    width: 322.8px;
  }
  .section__box2 h2 {
    width: 555px;
    height: 150px;
    margin-bottom: 24px;
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
  }
  .section__box2 p {
    width: 360px;
    height: 51.2px;
    margin-bottom: 24px;
    font-size: 18px;
  }
  /*section-yellow*/
  .section-yellow {
    background-color: #eaff62;
    width: 1520.8px;
    height: 814.6px;
    padding: 160px 0px 160px 0px;
  }
  .section-yellow img {
    position: absolute;
    padding-left: 1200.8px;
    padding-top: 175.6px;
  }
  .section-yellow p {
    width: 1280px;
    height: 25.6px;
    margin-bottom: 24px;
    color: rgba(0, 0, 0, .5);
    font-size: 24px;
  }
  .section-yellow h2 {
    width: 1280px;
    height: 200px;
    margin-bottom: 24px;
    font-size: 50px;
    line-height: 100%;
    font-weight: 500;
  }
  .section-yellow__grid {
    height: 185px;
    grid-column-gap: 16px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    margin-top: 60px;
  }
  .box1 {
    background-image: url("./images/649aead448691c06fd689d87_icons8-Windows\ 11-14540-32-171718\ 1.svg");
    width: 43px;
    height: 43px;
  }